// MAIN PAGE CSS
// all the SCSS for stylign the unique look of 
// the index page for the site, other pages will
// probably get a separate look 

.main {
    background-color: #101010;
    color: #fefefe;
    display: flex;
    flex: 1;
}

.main__content {
    max-width: 690px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    margin: 0px auto 1.5em;
    padding: 1.5em;
}

.main__intro {
    padding: 30px 0px;

    @include media-min(737px) {
        padding: 30px 0px 80px;
    }

    .intro__name {
        font-size: 1.65em;
        color: white;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 1.35;
        font-weight: bold;

        @include media-min(737px) {
            font-size: 2.3em;
        }
    }

    .intro__subtext {
        color: $accent;
        font-weight: normal;
        font-style: italic;
    }
}

.main__quote {
    font-style: italic;
    position: relative;
    margin: 2em 0px;
    padding: 0px 1em 0px 0px;

    .quote__content {
        font-size: 1.3em;
        margin: 0px;
        color: white;

        &::before {
            color: rgb(255, 82, 82);
            content: "“";
            display: none;
            font-size: 3em;
            left: 0.05em;
            line-height: 1;
            position: absolute;
            top: -0.05em;
        }

        @include media-min(737px) {
            &:before {
                display: block;
            }
        }
    }

    @include media-min(737px) {
        left: -2.25em;
        margin: 0px 0px 4em;
        padding: 0px 1.5em 0px 2.25em;

    }
}

.main__link-section {
    font-style: italic;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 1em 0px 0px;
    color: white;

    a {
        color: rgb(255, 82, 82);
        transition: all 0.15s ease 0s;
        text-decoration: none;
        letter-spacing: 0.05em;

        &::after {
            content: " →";
        }

        &:hover {
            color: rgb(254, 254, 254);
        }
    }
}