// MAIN STYLES
.Main {
    max-width: 690px;
    width: 100%;
    color: rgb(58, 65, 69);
    flex: 1 1 0%;
    margin: 0px auto 1.5em;
    padding: 1.5em;
}


// NAV STYLES
nav {
    padding: 25px;

    @include media-min(737px) {
        padding: 2em 4em 4em;
        text-align: right;
    }
}

.nav__link {
    color: $text;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.15s ease;
}

a.nav__link {
    color: $accent;
    margin: 0 0 0 2.5em;
    @include media-min(737px) {
        margin: 0 0 0 4em;
    }

    &:first-child {
        margin: 0;
    }
}

// FOOTER
footer {
    flex-shrink: 0;
    text-align: center;

    .footer__link {
        color: $accent;
        text-decoration: none;
        font-size: 1.2em;
    }
}

.footer__container {
    padding: 30px 20px;

    @include media-min(737px) {
        margin: 0 auto;
        max-width: 41em;
        padding: 45px;
    }
}
